{% extends "::base.html.twig" %}

{% block body %}
<form action="{{ page_next }}" method="post">
	confirmed Value is "{{ form.sample }}"
	<input type="submit" value="confirm"/>
</form>
<a href="{{ page_prev}}">back</a>
{% endblock %}
