{% extends "::base.html.twig" %}

{% block body %}
<form action="{{ page_next }}" method="post" {{ form_enctype(form) }}>
	confirm any value here
    <input type="submit" value="confirm"/>
</form>
<a href="{{ page_prev}}">back</a>
{% endblock %}
